<ul>
    <li><a routerLink="/interpolacion">Interpolacion</a></li>
    <li><a routerLink="/owb">One Way Binding</a></li>
    <li><a routerLink="/eventos">Eventos</a></li>
    <li><a routerLink="/twb">Two Way Binding</a></li>
    <li><a routerLink="/servicio">Servicio</a></li>
    <li><a routerLink="/directivas">Directivas</a></li>
    <li><a [routerLink]="['single', 0]">Un solo parámetro</a></li>
    <li><a [routerLink]="['multi', 'delete', 0]">Varios parámetros</a></li>
</ul>

<router-outlet></router-outlet>